@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />

    <p>
        3 + 2 = @ViewData["res"]
    </p>
    <p>
        3 * 2 = @ViewData["res2"]
    </p>
</div>
